<div class="container">
    <h1 class="text-white text-center">Create a new list</h1>
    <%= simple_form_for(@list) do |f| %>
      <%= f.input :name, label_html: { class: 'text-white' } %>
      <!-- <%= f.input :url %> -->
      <%= f.input :photo, as: :file, label_html: { class: 'text-white' } %>
      <%= f.submit %>
    <% end %>
</div>
