<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @list.url %>);">
    <h1><%= @list.name %></h1>
    <%= link_to "Add Bookmark", new_list_bookmark_path(@list.id), class: "btn btn-flat" %>
</div>

<div class="container d-flex justify-content-around m-3">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="<%= bookmark.movie.poster_url %>" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%= bookmark.movie.title %></h5>
          <!-- <p class="card-text"><%= bookmark.movie.overview %></p> -->
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Rating: <%= bookmark.movie.rating %></li>
          <li class="list-group-item">Comment: <%= bookmark.comment %></li>
        </ul>
        <div class="card-body">
          <%=  link_to "Delete", bookmark_path(bookmark), method: :delete, data: {confirm: "Are you sure?"} %>
        </div>
      </div>
    <% end %>
</div>


<p><%=  link_to "All Lists", lists_path %></p>
