<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @list.photo.key, height: 300, crop: :fill %>');">
    <h1><%= @list.name %></h1>
    <%= link_to "Add Bookmark", new_list_bookmark_path(@list.id), class: "btn btn-flat" %>
</div>

<div class="container m-auto">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="card-product">
        <img src="<%= bookmark.movie.poster_url %>" />
        <div class="card-product-infos d-flex justify-content-between flex-column p-3">
          <div class="d-flex justify-content-between">
            <h4><%= bookmark.movie.title %></h4>
            <h4><%= bookmark.movie.rating %></h4>
          </div>
          <div class="mb-1 mt-1">
            <%= bookmark.movie.overview %>
          </div>
          <div class="d-flex justify-content-between">
              <h5><%= bookmark.comment %></h5>
              <h5><%=  link_to "Delete", bookmark_path(bookmark), method: :delete, data: {confirm: "Are you sure?"} %></h5>
          </div>
        </div>
      </div>
    <% end %>
</div>


<div class="container d-flex">
  <%=  link_to "Return to all lists", lists_path, class: "mx-auto btn btn-ghost" %>
</div>
